graph {
    fill-color: GRAPH_BACKGROUND_COLOR;
}

node {
    text-color: TEXT_COLOR;
    size: 10px;
    fill-color: NODE_COLOR;
}

edge {
    text-color: TEXT_COLOR;
    text-alignment: along;
    text-background-mode: plain;
    text-background-color: GRAPH_BACKGROUND_COLOR;
}

edge.subClass {
    arrow-shape: none;
}

edge.focused {
    fill-color: TEXT_COLOR;
}
